<b>{{product.shortDescription}}</b>
{{product.description}}
{{product.cost}}
<img src={{product.img1}}>
<img src={{product.img2}}>
<img src={{product.img3}}>
<button class="btn btn-submit" {{action 'addToCart' product}}>Add To Cart</button>
{{#if inCart}}
<button class="btn btn-submit" {{action 'removeFromCart' product}}>Remove From Cart</button>
{{/if}}

{{yield}}
