<ul>


{{#each model as |product|}}
  <div class="">
      <li>
        {{#link-to 'product' product}}
          {{product.name}}
        {{/link-to}}
        <br>
        {{product.cost}}
        {{product.shortDescription}}
        <img src={{product.img1}}>
        <!-- <img src={{product.img2}}>
        <img src={{product.img3}}> -->
      </li>
  </div>


{{/each}}
</ul>
{{outlet}}
