<ul>


{{#each model as |product|}}
  <div class="">
      <li>
        {{product.name}}<br>
        {{product.shortDescription}}
        <img src={{product.img1}}>
        <img src={{product.img2}}>
        <img src={{product.img3}}>
      </li>
  </div>


{{/each}}
</ul>
{{outlet}}
